:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  padding: 4rem;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

p {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  flex-grow: 1;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  text-align: start;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 2rem;
}

/* .container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
} */

.search-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: nowrap;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  /* justify-content: flex-start; */
  gap: 2rem;
  width: 100%;
  /* flex: 0 1 360px; */
  flex-grow: 1;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
